{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul class="question-list-group">
    {% for question in questions %}
        <li>
            <div class="avatar-container">
{#                <img src="{{ url_for('static',filename='images/BaijieAvatar.JPG') }}" alt="" class="avatar">#}
                <img src="{{ url_for('static',filename=question.creator.avatar_file~'.jpeg') }}" alt="" class="avatar">
            </div>

            <div class="question-container">
                <p class="question-title"><a href="{{ url_for('questiondetail',question_id=question.id) }}">{{ question.title }}</a></p>
                <p class="question-content">{{ question.content|safe }}</p>
                <div class="question-info">
                    <span class="question-creator">{{ question.creator.userid }}</span>
                    <span class="question-time">{{ question.create_timestamp }}</span>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}